<ion-header>
    <ion-navbar>
        <ion-title>
            Bien venido!
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-list>

        <ion-item>
            <ion-avatar item-start>
                <img [src]="user.imagen">
            </ion-avatar>
            <h2>{{user.nombre}}</h2>
        </ion-item>

    </ion-list>


</ion-content>